.header .navigation {
  padding: 33px var(--home-padding) 0;
}

.breadcrumbs {
  margin-top: 15px;
  padding: 40px 145px 0;
}
.breadcrumbs .list-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
.breadcrumbs .icon-arrow {
  font-size: 1.3rem;
  color: #000;
}
.breadcrumbs .nav {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.breadcrumbs .nav .text-nav {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: #000;
  opacity: 0.8;
}
.breadcrumbs .nav .text-nav:hover {
  color: #000;
  opacity: 1;
}

.main {
  margin-top: 5px;
  padding: 37px 0;
  width: var(--width-search-page);
  margin: 5px auto 0;
}
.main .top-content {
  display: flex;
  justify-content: center;
}
.main .top-content .heading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  z-index: 1;
  top: 25%;
  position: absolute;
  padding: 20px;
  font-weight: 500;
  color: white;
}
.main .top-content .search {
  width: 100%;
  position: absolute;
  top: 40%;
  right: 0;
  padding: 10px;
  line-height: 4.8rem;
}
.main .top-content .header-img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}
.main .body {
  margin-top: 53px;
}
.main .body .top-resort-header {
  display: flex;
  justify-content: space-between;
}
.main .body .top-resort-header .title {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
}
.main .body .top-resort-header .button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #0091b3;
  color: white;
  cursor: pointer;
}
.main .body .feature-events {
  display: grid;
  justify-content: space-between;
}
.main .body .feature-events .title {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
}
.main .body .feature-events .crumb-events {
  color: #707070;
  font-size: 2rem;
  margin: 0 0 5px;
}
.main .body .featured-listing {
  margin-top: 15px;
}
.main .body .featured-events {
  margin-top: 12px;
  display: grid;
  gap: 31px;
  grid-template-columns: repeat(3, 1fr);
}
.main .body .top-resort {
  width: calc(var(--width-search-page) + 50px);
  margin-top: 35px;
}
.main .body .top-resort .link {
  display: inline-block;
  border: none;
}
.main .body .top-resort .list-box {
  width: 100%;
  margin-top: 15px;
  padding: 0 40px;
}
.main .body .top-resort .box {
  width: 340px;
  transition: all 0.4s;
  margin: 10px;
}
.main .body .top-resort .box .image {
  display: block;
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.main .body .top-resort .box .heart-bandle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  margin-left: 10px;
}
.main .body .top-resort .box .heart-bandle .bandle {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  color: green;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.main .body .top-resort .box .heart-bandle .heart-icon {
  margin-left: 190px;
  fill: rgba(49, 49, 49, 0.13);
  stroke-width: 1px;
  stroke: #525252;
}
.main .body .top-resort .box .content {
  width: 100%;
  padding-top: 23px;
  color: #000;
  font-family: "Inter", sans-serif;
}
.main .body .top-resort .box .content .row {
  display: flex;
  align-items: center;
}
.main .body .top-resort .box .content .name {
  font-size: 1.6rem;
  font-weight: 400;
}
.main .body .top-resort .box .content .location {
  color: #3baac5;
  gap: 8px;
}
.main .body .top-resort .box .content .location .icon {
  width: 20px;
  height: 20px;
}
.main .body .top-resort .box .content .location .text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
.main .body .top-resort .box .content .available {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.6;
  font-weight: 700;
}
.main .body .top-resort .box .content .price {
  margin-top: 5px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main .body .top-resort .box .content .price .text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #303030;
}
.main .body .top-resort .box .content .price .rating {
  display: flex;
  align-items: center;
}

/*Featured Listing*/
.featured-box {
  width: 340px;
  transition: all 0.4s;
  margin: 10px;
}
.featured-box .f-image {
  display: block;
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.featured-box .f-heart-bandle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  margin-left: 10px;
}
.featured-box .f-heart-bandle .f-bandle {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.featured-box .f-heart-bandle .f-heart-icon {
  margin-left: 190px;
  fill: rgba(49, 49, 49, 0.13);
  stroke-width: 1px;
  stroke: #525252;
}
.featured-box .f-content {
  width: 100%;
  display: grid;
  padding-top: 23px;
  color: #000;
  font-family: "Inter", sans-serif;
}
.featured-box .f-content .f-row {
  display: flex;
  align-items: center;
}
.featured-box .f-content .f-name {
  font-size: 1.6rem;
  font-weight: 700;
}
.featured-box .f-content .f-location {
  color: #3baac5;
  gap: 8px;
}
.featured-box .f-content .f-location .f-icon {
  width: 20px;
  height: 20px;
}
.featured-box .f-content .f-location .f-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
.featured-box .f-content .f-available {
  display: inline-block;
  font-size: 1.6rem;
  color: #222222;
  line-height: 1.6;
  font-weight: 500;
}
.featured-box .f-content .f-price {
  margin-top: 5px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
}
.featured-box .f-content .f-price .f-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #303030;
  font-weight: 500;
}
.featured-box .f-content .f-price .f-sale {
  display: flex;
  justify-content: space-between;
}

.f-button {
  background-color: #dc0f0f;
  color: var(--light);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 3px;
  height: 2.4rem;
  width: 5.5rem;
  font-family: "proxima_nova_rgbold", Arial, Helvetica, sans-serif;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  font-weight: bold;
}

/* EVENTS FEATURED */
.events-box {
  width: 340px;
  transition: all 0.4s;
}
.events-box .e-content {
  position: relative;
}
.events-box .e-content .e-image {
  display: block;
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.events-box .e-content .e-price {
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: rgba(22, 16, 13, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  color: white;
  width: 130px;
  height: 40px;
}
.events-box .e-content .e-name {
  position: absolute;
  left: 3.5rem;
  bottom: 1.5rem;
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.slick-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.slick-btn .icon {
  width: 18px;
  height: 18px;
  color: #000;
}
.slick-btn:hover {
  border-color: #000;
}

.slick-prev {
  position: absolute;
  top: 25%;
  left: -35px;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 25%;
  right: -30px;
  transform: translateY(-50%);
  z-index: 1;
}

.destination-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}
.destination-box .d-box .img {
  height: 160px;
  width: 220px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.destination-box .d-box .name {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #15100d;
  margin: 0;
}
.destination-box .d-box .description {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #666;
  margin: 0;
  line-height: 24px;
  width: 210px;
}

.explore-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 240px;
  background-color: #26707b;
  font-family: "Poppins", sans-serif;
}
.explore-wrapper .explore-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 43px 100px;
}
.explore-wrapper .explore-content .thumb-img {
  width: 100%;
  height: 355px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.explore-wrapper .explore-content .right-content {
  width: 80%;
}
.explore-wrapper .explore-content .right-content .right-header {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto 2rem;
  line-height: 3.5rem;
  font-size: 2rem;
}
.explore-wrapper .explore-content .right-content .click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.explore-wrapper .explore-content .right-content .click .search-input {
  width: 70%;
  height: 50px;
  padding: 10px 48px;
  -webkit-backdrop-filter: blur(3.9411036968px);
          backdrop-filter: blur(3.9411036968px);
  border-radius: 8px;
  color: #3d3d3d;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  transition: all 0.2s;
  border: 0.5px solid rgba(210, 210, 210, 0.41);
  outline: none;
}
.explore-wrapper .explore-content .right-content .click .search-input:hover {
  border-color: rgba(210, 210, 210, 0.8);
}
.explore-wrapper .explore-content .right-content .click .search-input:focus + .icon-search {
  opacity: 1;
}
.explore-wrapper .explore-content .right-content .click .explore-link {
  min-width: 148px;
  height: 50px;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 10px;
  background: #ffcc41;
  text-decoration: none;
  color: #000;
  font-size: 10.9;
  font-weight: 500;
}/*# sourceMappingURL=Listing.module.css.map */