.login-wrapper {
}

.heading {
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

.form {
  margin-top: 30px;
  .list-input {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .text {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(21, 21, 21);

    .link {
      color: #2761b9;
      cursor: pointer;

      &:hover {
        color: #23416d;
      }
    }
  }

  .action-login {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 10px 0;

    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hide-login {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;

    color: #b5b5b5;
    cursor: default;
  }

  .show-login {
    color: #0b0b0b;

    border: 1px solid #ffe1c5;
    background: #ffcc41;
    cursor: pointer;

    &:hover {
      background: #fac73b;
    }
  }

  .login-google {
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 40px;
    border: 1px solid #c4c4c4;
    width: 60%;
    background: #fff;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

    cursor: pointer;

    .text {
      color: #0b0b0b77;

      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
    }

    .icon {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    &:hover {
      border: 1px solid #b1b0b0;
    }

    &:hover .text {
      color: #0b0b0bd8;
    }
  }

  .error {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--error-color);
  }
}

.footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.otp {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action {
  font-family: "Poppins", sans-serif;
  user-select: none;

  &.hide-action {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;

    color: #b5b5b5;
    cursor: default;
  }

  &.show-action {
    color: #0b0b0b;

    border: 1px solid #000;
    cursor: pointer;

    &:hover {
      background: #f2f2f2;
    }
  }

  &.none {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;

    color: #b5b5b5;
    cursor: default;
  }

  .otp-btn {
    white-space: nowrap;
    padding: 14px 20px;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 300;
  }
}

.time-otp {
  margin-top: 8px;
  &.text {
    color: #0b0b0b77;

    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .time {
    color: #0b0b0b;
    font-weight: 400;
  }
}
