.item {
    background-color: #5f9ea0;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    padding: 50px;
}
.pagination-wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
}