.payment-intro {
    user-select: none;
    margin-top: 100px;
    .header-slogan {
        display: grid;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 500;
        margin-left: 265px;
    }

    .body {
        display: flex;
    }

    .body-left {
        display: grid;
        gap: 12px;
        padding: 0 2px;
        .fe {
            color: #000;
            font-family: "Poppins";
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 500;
        }

        .text-fe {
            color: #555;
            font-family: "Poppins";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            display: flex;
            width: 266px;
            height: 33px;
            flex-direction: column;
            justify-content: center;
            margin-top: 12px;
        }
    }

    .line {
        width: 1px;
        height: 196px;
        background: #555;
        margin-left: 40px;
    }

}

.part {
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 30px;
}